@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;

  src: local("Gilroy"),
       url("../images/header-logo.png") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 700;

  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;

  src: local("opensans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;

  src: local("opensans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}


body {
  font-family: "Gilroy", "Gilroy - Extra Bold", "Open Sans", "Arial", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.header {
  margin: 40px auto;
  width: 1160px;
  height: 186px;
  background-color: #f7e296;
  margin-bottom: 0;
}

.header-list {
  list-style-type: none;
  display: flex;
}

.header-logo {
  margin-left: 60px;
  margin-top: -17px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.header__top-items {
  width: 1040px;
  padding-left: 63px;
  padding-top: 12px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
}

.header__search {
  width: 440px;
  height: 50px;
  position: relative;
}

.header__search-input {
  opacity: 0.3;
  color: #000;
  background-color: #f7e296;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 48px;
  border: 0px;
}

.header__search-input:hover {
  opacity: 0.6;
}

.header__search-label:hover .header__search-link::before {
  display: none;
}

.header__search-label:active ~ .header__search-link {
  background-color: #000;
  color: gray;
}

.header__search-input:focus {
  outline: none !important;
  opacity: 1;
}

.header__search-label {
  position: absolute;
  left: 345px;
  top: 16px;
  display: none;
  z-index: 1;
}

.header__search-link::before {
  position: absolute;
  content: '';
  background-color: #000;
  height: 2px;
  width: 345px;
  left: -345px;
  top: 48px;
}

.header__search-input:focus ~ .header__search-label {
  display: flex;
}

.header__search-link {
  padding: 14px 25px 14px 25px;
  border: 2px solid #000;
  position: inherit;
  margin-top: -16px;
  color: #000;
}

.header__search-link:hover {
  background-color: #000;
  color: #FFF;
  transition: 0.3s;
}

.search__icon {
  width: 16px;
  height: 16px;
  padding-right: 18px;
}

.header-user-icon {
  width: 13px;
  height: 12px;

  padding-right: 18px;
}

.header-compare-icon {
  width: 10px;
  height: 10px;

  padding-right: 18px;
}

.header-cart-icon {
  width: 12px;
  height: 12px;

  padding-right: 18px;
}

.authorization, .compare, .cart {
  color: #000;
}

.header-list-item-user {
  padding-left: 50px;
}

.header-list-item-compare {
  padding-left: 200px;
}

.header-list-item-cart {
  padding-left: 30px;
}

.header-list-item-user:hover,
.header-list-item-compare:hover,
.header-list-item-cart:hover {
  opacity: 0.6;
}

.header-list-item-user:active,
.header-list-item-compare:active,
.header-list-item-cart:active {
  opacity: 0.3;
}

.header__bottom-items {
  width: 1040px;
  padding-left: 60px;
  padding-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 17px;
}

.header-catalog {
  position: relative;
  display: inline-block;
}

.header-catalog-link,
.header-delivery-link,
.header-warranty-link,
.header-contacts-link {
  color: #000;
  letter-spacing: 4.2px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 400;
}

.header-catalog-link:hover, 
.header-delivery-link:hover,
.header-warranty-link:hover,
.header-contacts-link:hover {
  opacity: 0.6;
}

.header-catalog-link:active, 
.header-delivery-link:active,
.header-warranty-link:active,
.header-contacts-link:active {
  opacity: 0.3;
}

.expand-icon {
  padding-left: 4px;
  color: #000;
}

.catalog-menu-content {
  display: none;
  position: absolute;
  background-color: #f7e296;
  min-width: 1160px;
  margin-left: -60px;
  padding-top: 10px;
  z-index: 1;
}

.catalog-menu-list {
  list-style-type: none;
}

.catalog-menu-list__item {
  padding-left: 23px;
  padding-bottom: 25px;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
}

.catalog-menu-list__link {
  color: #000;
}

.header-catalog:hover .catalog-menu-content {
  display: flex;
}

.catalog-menu-list__link:hover {
  opacity: 0.6;
}

.catalog-menu-list__link:active {
  opacity: 0.3;
}



.header-delivery-link {

  color: #000;
}

.header-warranty-link {
  
  color: #000;
}

.header-contacts-link {
  
  color: #000;
}

.header-list-item-delivery {
  padding-left: 240px;
}

.header-list-item-warranty {
  padding-left: 34px;
}

.header-list-item-contacts {
  padding-left: 109px;
  margin-right: -4px;
}

.footer {
  width: 100%;
  height: 323px;
  background-color: #464646;
  margin-top: -4px;
}

.container {
  margin: 0 auto;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.footer__left {
  padding-top: 65px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-address {
  padding-top: 15px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
}

.horizontal-line-decor {
  content: '';
  background-color: #ffc600;
  display: inline-block;
  height: 7px;
  width: 80px;
  vertical-align: middle;
  margin-top: 67px;
}

.footer__center-list {
  list-style-type: none;
  display: flex;
  margin-top: 138px;
}

.footer__right-list {
  list-style-type: none;
  display: flex;
}

.footer__center {
  padding-left: 85px;
}

.footer__center-list-item {
  padding-left: 35px;
}

.footer__center-link {
  color: #FFF;
  font-family: "Gilroy - Extra Bold";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4px;
}

.footer__center-link:hover {
  opacity: 0.6;
}

.footer__center-link:active {
  opacity: 0.3;
}

.footer__right {
  padding-top: 50px;
  position: relative;  
}

.footer__right-list {
  padding: 0;
}

.footer__right-list-item {
  padding-left: 38px;
}

.footer__right-link {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  opacity: 0.7;
}

.footer__right-link:hover {
  opacity: 1;
}

.footer__right-link:active {
  opacity: 0.3;
}

.footer-user-icon, .footer-compare-icon, .footer-cart-icon {
  padding-right: 14px;
}

.footer-phone-number {
  padding-top: 32px;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  text-align: right;
}

.footer-html-link:hover {
  opacity: 0.6;
}

.footer-html-link:active {
  opacity: 0.3;
}

.footer-html-logo {
  position: absolute;
  right: 0;
  bottom: 18px;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 48px;
  padding-left: 50px;
}

.social-item {
  padding-left: 22px;
  opacity: 0.6;
}

.social-item:hover {
  opacity: 1;
}

.social-item:active {
  opacity: 0.3;
}

.slider-container {
  display: flex;
  width: 1160px;
  height: 486px;
  margin: 0 auto;
  position: relative;
}


.slide {
  background: linear-gradient(#f7e296,#f7e296);
  background-size: 100% 114px;
  background-position: left top;
  background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
  display: none;
}

.slide__left {
  width: 600px;
  margin: 0;
}

.slide__right {
  width: 560px;
  margin: 0;
}

.slide1__img {
  margin-left: 90px;
}

.slide1__decor {
  margin-top: 0;
  line-height: 0;
}

.slide1__decor::before {
  content: '';
  background-color: #FFF;
  display: inline-block;
  height: 7px;
  width: 100px;
  vertical-align: middle;
  margin-top: 40px;
}

.slide1__decor::after {
  display: inline-block;
  content: '01';
  color: #FFF;
  font-size: 180px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 700;
  margin-left: 330px;
  margin-top: 30px;
}

.slide2__decor {
  margin-top: 0;
  line-height: 0;
}

.slide2__decor::before {
  content: '';
  background-color: #FFF;
  display: inline-block;
  height: 7px;
  width: 100px;
  vertical-align: middle;
  margin-top: 40px;
}

.slide2__decor::after {
  display: inline-block;
  content: '02';
  color: #FFF;
  font-size: 180px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 700;
  margin-left: 330px;
  margin-top: 30px;
}

.slide3__decor {
  margin-top: 0;
  line-height: 0;
}

.slide3__decor::before {
  content: '';
  background-color: #FFF;
  display: inline-block;
  height: 7px;
  width: 100px;
  vertical-align: middle;
  margin-top: 40px;
}

.slide3__decor::after {
  display: inline-block;
  content: '03';
  color: #FFF;
  font-size: 180px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 700;
  margin-left: 330px;
  margin-top: 30px;
}

.slider-text-big {
  color: #000;
  font-size: 48px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 700;
  margin-top: -70px;
}

.slider-text-small {
  color: #000;
  font-size: 15px;
  line-height: 30px;
  margin-top: -30px;
}

.slide-controls {
  display: flex;
}

.slide-link {
  color: #000;
  font-size: 17px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 400;
  padding: 15px 43px 13px 43px;
  border: 1px solid transparent;
  margin-top: 22px;
  margin-bottom: 24px;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.slide-link:hover {
  transition: 0.3s;
  background-size: 100% 40px;
}

.slide-link:active {
  color: gray;
}

.slider__input1 {
  position: absolute;
  top: 327px;
  left: 994px;
  width: 0;
  height: 0;
}

.slider__input2 {
  position: absolute;
  top: 327px;
  left: 1027px;
  width: 0;
  height: 0;
}

.slider__input3 {
  position: absolute;
  top: 327px;
  left: 1060px;
  width: 0;
  height: 0;
}

.slider__label1 {
  z-index: 1;
  position: absolute;
  top: 327px;
  left: 994px;
}

.slider__label2 {
  z-index: 1;
  position: absolute;
  top: 327px;
  left: 1027px;
}

.slider__label3 {
  z-index: 1;
  position: absolute;
  top: 327px;
  left: 1060px;
}

.slider__label1::before,
.slider__label2::before,
.slider__label3::before {
  position: absolute;
  top: 3px;
  left: 5px;
  content: '';
  width: 11px;
  height: 11px;
  border-radius: 10px;
  border: 1px solid grey;

}

.slider__input1:checked + .slider__label1 + .slide, 
.slider__input2:checked + .slider__label2 + .slide,
.slider__input3:checked + .slider__label3 + .slide {
	display: flex;
}

.slider__input1:checked + .slider__label1::after {
  position: absolute;
  top: 7px;
  left: 9px;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: whitesmoke;
}

.slider__input2:checked + .slider__label2::after {
  position: absolute;
  top: 7px;
  left: 9px;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: whitesmoke;
}

.slider__input3:checked + .slider__label3::after {
  position: absolute;
  top: 7px;
  left: 9px;
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: whitesmoke;
}


.slide-specification {
  display: flex;
}

.slide-specification__item {
  padding-right: 80px;
}

.slide-specification__item-value {
  font-size: 36px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.slide-specification__item-name {
  font-size: 13px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  line-height: 2px;
}

.slide2__img {
  margin-left: 116px;
}

.slide3__img {
  margin-left: 30px;
  margin-top: 68px;
}

.categories {
  margin: 110px auto;
  width: 1160px;

  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  margin-bottom: 32px;
}

.categories-name {
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.categories-item__img {

}

.categories-link:hover .categories-item {
  background-color: #f0c52e;
}

.categories-link:active .categories-name {
  opacity: 0.3;
}

.categories-link:active .categories-item__img {
  opacity: 0.3;
}

.advantages {
  margin: 60px auto;
  width: 100%;
  height: 390px;
  margin-bottom: 0;
  background: linear-gradient(#e5e5e5, #e5e5e5);
  background-size: 100% 288px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.advantages-container {
  margin: 0 auto;
  width: 1160px;
  position: relative;
}

.advantages-container__decor::before {
  position: absolute;
  content: '';
  background-color: #000;
  display: inline-block;
  height: 318px;
  width: 7px;
  top: 3px;
  left: 278px;
}

.advantages-slide1,
.advantages-slide2,
.advantages-slide3 {
  position: absolute;
  top: 80px;
  left: 400px;
  display: none;
}


.advantages__input1,
.advantages__input2,
.advantages__input3 {
  width: 0;
  height: 0;
}

.advantages__label1 {
  position: absolute;
  top: 82px;
  left: 0;
  letter-spacing: 4.2px;
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 18px 0 18px;
  border: 1px solid transparent;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 40px;
}

.advantages__label2 {
  position: absolute;
  top: 146px;
  left: 0;
  letter-spacing: 4.2px;
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 21px 0 23px;
  border: 1px solid transparent;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 40px;
}

.advantages__label3 {
  position: absolute;
  top: 211px;
  left: 0;
  letter-spacing: 4.2px;
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 0 36px 0 36px;
  border: 1px solid transparent;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  line-height: 40px;
}

.advantages__label1:hover,
.advantages__label2:hover,
.advantages__label3:hover {
  transition: 0.3s;
  background-size: 100% 40px;
}

.advantages__input1:checked + .advantages__label1 {
  padding-right: 135px;
  background-size: 100% 40px;
  background-color: #000;
  background: linear-gradient(#000,#000);
  color: #f7e184;
}

.advantages__input2:checked + .advantages__label2 {
  padding-right: 140px;
  background-size: 100% 40px;
  background-color: #000;
  background: linear-gradient(#000,#000);
  color: #f7e184;
}

.advantages__input3:checked + .advantages__label3 {
  padding-right: 155px;
  background-size: 100% 40px;
  background-color: #000;
  background: linear-gradient(#000,#000);
  color: #f7e184;
}


.advantages__input1:checked ~ .advantages-slide1 {
  display: flex;
}

.advantages__input2:checked ~ .advantages-slide2 {
  display: flex;
}

.advantages__input3:checked ~ .advantages-slide3 {
  display: flex;
}


.advantages-slide-text__big {
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 47px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 14px;
  margin-top: 16px;
}

.advantages-slide-text__small {
  color: #464646;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  line-height: 31px;
  letter-spacing: 0.3px;
}

.advantages-slide1-img {
  width: 136px;
  height: 164px;
  padding: 8px 0 0 130px;
}

.advantages-slide2-img {
  width: 171px;
  height: 194px;
  padding-left: 120px;
  margin-top: -15px;
}

.advantages-slide3-img {
  width: 156px;
  height: 186px;
  padding-left: 103px;
  margin-top: -15px;
}

.brands {
  margin: 95px auto;
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.brand1 {
  background: url("../images/brand1.png");
  width: 260px;
  height: 100px;
}

.brand2 {
  background: url("../images/brand2.png") no-repeat 50% 50%;
  width: 260px;
  height: 100px;
}

.brand3 {
  background: url("../images/brand3.png");
  width: 260px;
  height: 100px;
}

.brand4 {
  background: url("../images/brand4.png");
  width: 260px;
  height: 100px;
}

.brand1:hover {
  background: url("../images/brand1-color.png");
  width: 260px;
  height: 100px;
}

.brand2:hover {
  background: url("../images/brand2-color.png");
  width: 260px;
  height: 100px;
}

.brand3:hover {
  background: url("../images/brand3-color.png");
  width: 260px;
  height: 100px;
}

.brand4:hover {
  background: url("../images/brand4-color.png");
  width: 260px;
  height: 100px;
}

.info {
  margin: 95px auto;
  width: 1160px;
  display: flex;
  position: relative;
}

.about-us {
  width: 600px;
}

.contact {

}

.info-decor {
  content: '';
  background-color: #000;
  display: inline-block;
  height: 7px;
  width: 80px;
  vertical-align: middle;
  margin-top: 0px;
}

.info-text-big {
  font-family: "Gilroy - Extra Bold";
  font-size: 47px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  letter-spacing: 0.7px;
}

.info-text-small {
  margin-top: 60px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.68px;
  line-height: 30px;
}

.info-text-smaller {
  margin-top: 32px;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.4px;
  line-height: 30px;
}

.carriers {
  margin-top: 65px;
  margin-bottom: 65px;
}

.carriers-item {
  list-style: none;
  font-family: "Gilroy - Extra Bold";
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
  letter-spacing: 0.7px;
  margin-left: -4px;
  position: relative;
}

.carriers-item::before {
  position: absolute;
  top: 17px;
  left: -35px;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 5px;
  border: 2px solid grey;
  background-color: whitesmoke;
}

.about-us-link {
  letter-spacing: 4.2px;
  color: #000;
  font-size: 17px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 400;
  padding: 15px 20px 13px 23px;
  border: 1px solid transparent;
  margin-top: 22px;
  margin-bottom: 24px;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us-link:hover {
  transition: 0.3s;
  background-size: 100% 40px;
}

.about-us-link:active {
  color: gray;
}

.contact-map-preview {
  margin-top: 40px;
  margin-bottom: 78px;
  width: 560px;
  height: 222px;
  background: url("../images/map.png");
}

.contact-link {
  letter-spacing: 4.2px;
  color: #000;
  font-size: 17px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 400;
  padding: 14px 36px 14px 41px;
  border: 1px solid transparent;
  margin-top: 22px;
  margin-bottom: 24px;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-link:hover {
  transition: 0.3s;
  background-size: 100% 40px;
}

.contact-link:active {
  color: gray;
}


.write-us-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  }
  
.write-us-background:target {
  opacity: 1; 
  pointer-events: auto;
  }
  
.write-us-window {
  position: relative;
  margin: 5% auto;
  width: 960px;
  min-height: 553px;
  background-color: #FFF;
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
  }

.write-us-container {
  padding: 80px 100px 80px 100px;
}

.write-us-window__link {
  letter-spacing: 4.2px;
  color: #000;
  font-size: 17px;
  font-family: "Gilroy - Extra Bold";
  font-style: bold;
  font-weight: 400;
  padding: 14px 36px 14px 41px;
  border: 1px solid transparent;
  margin-top: 22px;
  margin-bottom: 24px;
  background: linear-gradient(#f0c52e,#f0c52e);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  text-decoration: none;
}

.write-us-window__link:hover {
  transition: 0.3s;
  background-size: 100% 40px;
} 

.close-cross__image {
  position: absolute;
  top: 25px;
  left: 880px;
  width: 55px;
  height: 55px;
  opacity: 0.5;
}

.close-cross__image:hover {
  opacity: 1;
}

.close-cross__image:active {
  opacity: 0.25;
}

.write-us-name-and-email {
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
}

.write-us-name {
  padding-right: 40px;
}

.write-us-email {
  text-align: left;
}

.write-us-name__label, .write-us-email__label, .write-us-message__label {
  color: #000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 40px;
}

.write-us-name__label, .write-us-name__input, 
.write-us-email__label, .write-us-email__input,
.write-us-message__label, .form-textarea {
  display: block;
}

.write-us-message {
  padding-bottom: 63px;
}

.write-us-name__input, .write-us-email__input {
  width: 340px;
  height: 50px;
  border: 2px solid #D7DCDE;
  padding-left: 15px;
  background: #D7DCDE;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.5;
}

.write-us-name__input:hover, .write-us-email__input:hover, .write-us-message__textarea:hover {
  border-color: #D7DCDE;
  opacity: 0.8;
} 

.write-us-name__input:focus, .write-us-email__input:focus, .write-us-message__textarea:focus {
  outline: none;
  border-color: #ffc600;
} 

.write-us-message__textarea {
  width: 740px;
  height: 156px;
  border: 2px solid #D7DCDE;
  padding-top: 13px;
  padding-left: 15px;
  background: #D7DCDE;
  color: #464646;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  opacity: 0.5;
}


.modal-map-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  pointer-events: none; 
}
  
.modal-map-background:target {
  opacity: 1; 
  pointer-events: auto;
}
  
.modal-map-window {
  position: relative;
  background: url("../images/map-big.png") no-repeat 50% 50%;
  margin: 5% auto;
  width: 960px;
  min-height: 540px;
  box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
}